name: GitHub Pages

env:
  CARGO_TERM_COLOR: always
  DIOXUS_VERSION: 0.7.2

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@4305c38b25d97ef35a8ad1f985ccf2d2242004f2 # stable
        with:
          targets: wasm32-unknown-unknown

      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2

      - name: Install Dioxus
        run: cargo install --locked dioxus-cli@${{ env.DIOXUS_VERSION }}

      - name: Build app
        run: dx bundle --release

      - name: Upload static files as artifact
        id: upload-artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: dist/public

  deploy:
    name: Deploy
    permissions:
      # For the push to `gh-pages` branch.
      id-token: write
      contents: write
      pages: write
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        if: success()
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
